NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
OPENAI_API_KEY=
NEXT_PUBLIC_SITE_URL=
CUSTOMER_AGENT_URL=https://www.100wiser.com/index?agent=db240a797a244f77990329ae780e2b42
MARKET_AGENT_URL=https://www.100wiser.com/index?agent=2cb1842ea8984b3b82a457acb7e57d39
